# Check compilation of Arduino examples

name: Arduino Compile

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
    paths:
      - src/**
      - examples/**

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "compile-sketches"
  compile-sketches:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be run as part of the job
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:avr:uno"
          sketch-paths: |
            - examples/
          libraries: |
            - source-path: ./